* {margin:0;padding:0;font:12px/150% Arial, Verdana, "\5b8b\4f53";
}
html{-webkit-text-size-adjust:none;}
.font14 {font-size:14px;
}
.color-red {color:red;
}
a {text-decoration:none;
}
ul li {float:left;list-style-type:none;
}
.head {width:64%;margin:0px auto;height:200px;width:1200px;padding-top:25px;
}
.head-top {width:1200px;height:30px;margin:0px auto;
}
.head-top > div {width:98%;margin:0 auto;
}
.head-top a, .head-top label {color:#a5a2a2;
}
.head-welcome {font-weight:bold;
}
.head-login {margin-left:34px;
}
.head-ul {
    overflow:hidden;display:block;float:right;height:30px;width:530px;
}
.head-ul li {line-height:30px;margin-left:1.5em;
}
.head-ul li:nth-child(2) {width:22%;
}

.inline-block {line-height:30px;
}
.head-logo {width:98%;margin:60px auto 0;/*overflow:hidden;*/
}
.logo {float:left;width: 120px;margin: 0;
}
.head-city {float:left;padding-top:1.5em;margin-left:1.5em;
}
    .head-city .city {position:relative;
    }
.head-city .cityList {position:absolute;width:400px;height:400px;border:1px solid #572a27;z-index:3;background-color:white;font-size:15px;padding:10px;top:30px;left:53px;display:none;
}
.hotCity {overflow:hidden;
}
    .hotCity li {margin-left:0.5em;line-height:32px;
    }
        .hotCity li:first-child {margin-left:0;
        }
    .hotCity li a {color:black;
    }
    .head-city .thisCity {overflow:hidden;
    }
.thisCity .findHome {float:right;width:100px;line-height:24px;margin:0 10px;font-size:12px;
}
.searchCity input {height:22px;line-height:22px;
}
    .searchCity input[type='button'] {height:26px;width:42px;
    }
.letterList {overflow:hidden;
}
.letterList li {line-height:38px;color:red;  width:15px;text-align:center;
}
.n_none {display:none;
}


.search {float:left;background-color:#572a27;color:white;width:80px;line-height:40px;text-align:center;}
.search>label{line-height:40px;}
.search-criteria {padding-top:2em;float:right;margin-right:4px;width:64%;
}
    .search-criteria > div {overflow:hidden;
    }
.Search-categories {float:left;background-color:#f8f8f8;width:80px;line-height:36px;
}
    .Search-categories label:hover {color:red;cursor:pointer;
    }
    .Search-categories ul li:hover {color:red;cursor:pointer;
    }
    .Search-categories > label {border-top:2px solid #572a27;border-bottom:2px solid #572a27;border-left:2px solid #572a27;width:80px;line-height:36px;text-align:center;display:block;
    }
    .Search-categories option {height:40px;
    }
    .Search-categories ul {overflow:hidden;position:absolute;top:177px;width:80px;background-color:#f8f8f8;z-index:5;border:1px solid #ccc;border-top:none;
    }
        .Search-categories ul li {height:40px;width:82px;text-align:center;line-height:40px;
        }
.Search-Text {font-size:14px;width:340px;float:left;border:2px solid #572a27;line-height:36px;padding-left:10px;height:36px;
}
.search label {margin-left:4px;
}
.search img {padding-top:1px;
}
.My-mall,.settlement {background-color:#fcfcfc;display:block;text-decoration:none;width:100px;line-height:36px;float:left;text-align:center;margin-left:20px;color:#808080;border:2px solid #f5f5f5;
}
.settlement {margin-left:6px;
}
.hot-search {line-height:44px;overflow:hidden;
}
.hot-search li {color:#aaa;margin-left:4px;line-height:30px;
}
    .hot-search li:first-child {margin-left:0;
    }
    .hot-search li a {text-decoration:none;color:#aaa;
    }
.head-logo .Switch-city {border:1px solid #ccc;font-size:12px;margin-left: 0.5em;width: 50px;height: 18px;line-height: 18px;display: inline-block;text-align: center;
}
.hide_city_group {position:absolute;top:1px;left:37px;display:none;text-align: left;
}

.hideMap {
    width: 400px;
    height: 297px;
    padding: 10px 15px;
    border: solid 1px #ca033c;
    background: #fff;
    position: absolute;
    left: 5px;
    top: 18px;
    box-shadow: 1px 2px 5px #666;
    color: #444;
    z-index:5;
}
.showPanel {
    border-bottom: solid 1px #e9e9e9;
    padding-bottom: 10px;
    height: 20px;
}
.mycity {
    float: left;
    line-height: 20px;
}  
.near {
    float: right;
    height: 20px;
    display: inline-block;
    padding: 0 6px 0 20px;
    text-align: center;
    line-height: 20px;
    background: url("/crsdocroot/content/images/storefront/change_city3.gif") no-repeat;
    background-position: -20px 3px;
    border: 1px solid #f5e6bf;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color: #cf2c2d;
}
.showPanel2 {
    padding-top: 10px;
    height: 33px;
}
.hot_city a {
    display: inline-block;
    padding: 0 3px;
    line-height: 19px;
    margin-right: 2px;
    color: #444;
}
#atg_store_logo a {
	display: inline-block; 
	height: 100%;
}
.search_city_tip {
    position: absolute;
    height: 20px;
    text-align: center;
    color: #ee7001;
    background: #fffde6;
    border: 1px solid #e5935b;
    box-shadow: 2px 2px 2px #999;
    margin-top: 25px;
    line-height: 20px;
    display:none;
}
.search_city_input {
    width: 114px;
    height: 22px;
    padding: 0 5px;
    border: 1px solid #ccc;
    border-right: 0;
    color: #999;
    vertical-align: middle;
    line-height: 22px;
    outline:none;
}
.icity_names {line-height:20px;
}
.icity_names .icity_names_a{color: #666;}
.search_city_submit {
    border: 1px solid #bbb;
    display: inline-block;
    width: 46px;
    height: 24px;
    text-align: center;
    line-height: 22px;
    color: #444;
    vertical-align: middle;
    background: #fff;
    font-size: 12px;
    cursor: pointer;
    background: url("/crsdocroot/content/images/storefront/change_city3.gif") no-repeat;
    background-position: -45px -15px;
    outline:none;
}
.city_words a {
    display: inline-block;
    width: 17px;
    text-align: center;
    color: #d02e2c;
    font-family: Arial;
    font-size: 14px;
}
.scrollBody{
    height: 207px;
    overflow: auto;
}
.icity_names_wrap{
	position:relative;
	padding: 10px 0px 5px 30px;
}
.icity_firstword{
	position:absolute;
	top:10px;
	left:0px;
	display:inline-block;
	width:20px;
	height:20px;
	line-height:20px;
	text-align:center;
	background-color:#999;
	color:white;
	border-radius:10px;
}


#atg_store_content {
    width: 100%;
    margin: 0 auto;
}

/*导航*/
.navigation {width:100%;height:50px;
}
.nav-ul {width:64%;margin:0 auto;width:1200px;position:relative;
}
.nav-ul>ul {overflow:hidden;
}
.nav-ul>ul>li:nth-child(2) {margin-left:36px;
}
    .nav-ul > ul > li:first-child {background-color:#572a27;
    }
.nav-ul>ul>li>a {color:#ff6a00;padding:16px;display:block;color:black;font-size:15px;font-family:'Microsoft YaHei';font-weight:400;
}
    .nav-ul > ul > li:first-child > a {display:block;width:235px;text-align:center;line-height:50px;padding:0;color:white;
    }
    .nav-ul>ul>li>ul {/*display:none;*/background-color:#fff;z-index:4;position:absolute;top:50px;
    }
    .nav-ul>ul>li>ul>li {
        float:none;width:235px;
    }
    .nav-ul>ul>li>ul>li>a {display:block;width:100%;line-height:38px;color:black;font-size:15px;font-weight:bold;
    }
        .nav-ul ul li ul li a img {margin:10px 16px -3px 37px;
        }

.prompt {position:relative;
}
.three-level {
    position:absolute;top:52px;left:235px;width:366px;background-color:white;padding:0 1.5em;z-index:3;display:none;
}
.three-level h4 {line-height:36px;margin-top:15px;font-weight:bold!important;color:#bf084a;font-size:14px;
}
    .three-level > span {float:right;line-height:36px;margin-top:-36px;color:#514f4f;font-size:12px;
    }
    .three-level>ul>li {height:32px;margin:3px;float:left;background-color:#f3f3f3;width:116px;overflow:hidden;
    }
        .three-level > ul > li > a {height:32px;background-color:#f3f3f3;width:116px;text-align:center;display:block;
        }
        .three-level ul li a:hover {color:red;
        }
    .three-level > ul {overflow:hidden;background-color:white!important;
    }
        .three-level ul li a {line-height:32px!important;color:black;text-align:center;
        }
    .three-level > div > img {margin-top:20px;
    }
.furniture {height:71.5px;overflow:hidden;
}
    .furniture ul{overflow:hidden;width:166px;float:left;margin-left:71px;
    }
    .furniture ul li{float:left;min-width:42px;
    }
        .furniture ul li a {line-height:22px;font-size:13px;color:#121212;
        }
        .furniture ul li:nth-child(3), .furniture ul li:nth-child(6) {width:82px;
        }
        .furniture ul li:last-child {width:166px;
        }
        /*广告*/
.advertising {
    border-bottom:1px solid #ccc;position:relative;min-width:1200px;height:485px;   
}
.advertising-back {overflow:hidden;width:100%;position:relative;height:485px;top:-485px;
}
.experience {width:1200px;height:485px;margin:0 auto;overflow:hidden;
}
    .experience > div {width:200px;height:485px;float:right;background-color:white;padding:0 6px;text-align:center;
    }
    .experience p:first-child {margin-top:28px;
    }
    .experience p {color:#f1cb9b;text-align:center;font-size:12px;
    }
    .experience img {width:190px;height:190px;margin-top:12px;
    }
    .experience .thisHome {text-align:center;font-size:20px;color:#626261;margin-top:18px;
    }
    .experience .national {font-weight:bold;color:#626261;font-size:15px;margin-top:6px;
    }
    .findHome {border:1px solid #ccc;border-radius:6px;display:block;width:140px;text-align:center;line-height:30px;background-color:#572a27;color:white;margin:34px auto 0;
    }



#focus001 {width:100%;height:485px;overflow:hidden;min-width:1200px;
}
    #focus001 ul {width:300%;height:485px;
    }
    #focus001 ul li {width:100%;height:485px;min-width:1200px;
    }
        #focus001 img {width:100%;height:485px;min-width:1200px;
        }
.LiBtn {position:absolute;bottom:20px;z-index:3;width:100%;height:18px;
}
    .LiBtn > div {width:1200px;margin:0 auto;overflow:hidden;height:18px;
    }
/*.LiBtn div ul {height:14px;width:1200px;margin:0 auto;
}
    .LiBtn div ul {width:70px;margin:0 auto;
    }
   .LiBtn ul li {width:14px;height:14px;background-color:#ccc;border-radius:14px;margin-left:14px;
    }
    .LiBtn ul li:first-child {margin-left:0;
    }*/



        .focus {width:100%; height:585px; overflow:hidden; position:relative;}
.focus ul {height:585px; position:absolute;}
.focus ul li {float:left; width:100%; height:585px; overflow:hidden; position:relative; background:#000;}
.focus ul li div {position:absolute; overflow:hidden;}
.focus .btnBg {position:absolute; width:800px; height:20px; left:0; bottom:0; background:#000; display:none;}
.focus .btn { width:100px; height:14px;margin:0 auto; }
.focus .btn span {display:inline-block; _display:inline; _zoom:1; width:14px; height:14px; line-height:14px; text-align:center; _font-size:0; margin-left:5px; cursor:pointer; background:#fff;border-radius:10px;}
.focus .btn span.on {background:#fff;}
.focus .preNext {width:45px; height:100px; position:absolute; top:90px; cursor:pointer;}
.focus .pre {left:0;position:absolute;left:0px;top:190px;border:1px solid red;z-index:3}
.focus .next {right:0; position:absolute;top:190px;border:1px solid red;z-index:3}
/*内容部分*/
.browse {width:64%;margin:0px auto;width:1200px;
}
.borderHover li {border:2px solid white!important;
}
    .borderHover li:hover {border:2px solid #640202!important;
    }
.hot-small {overflow:hidden;margin-top:14px;
}
    .hot-small ul {overflow:hidden;
    }
        .hot-small ul li {margin-left:20px;
        }
            .hot-small ul li:first-child {margin:0;
            }
.hot-small ul li a {
    display:block;
    padding:8px 5em;
    background-color:#572a27;
    /*margin-left:15px;*/
    color:#cbb2b2;
    font-size:16px;
}
        .hot-small ul li a {text-justify:auto;
        }
    .hot-small ul li:first-child a {margin-left:0;
    }

    /*展示区*/
.Showcase {border-bottom:1px solid black;height:332px;position:relative;
}
    .Showcase ul {overflow:hidden;margin-top:30px;height:332px;display:none;
    }
.Showcase>ul>li {
    width:225px;margin-left:13px;height:315px;
}
    .Showcase > ul > li > dl {width:225px;padding:5px;height:315px;overflow: hidden;
    }

.Showcase > ul > li > dl img{width: 213px;height: 225px;border: 1px solid red;}
    .Showcase>ul>li:first-child {margin:0;
    }
.Add-art {border:1px solid #572a27;color:white;margin-left:13px;width:56px;line-height:16px;text-align:center;display:block;float:left;height:20px;
}
    .Add-art img {margin-top:2px;
    }
.Showcase .Item-introduction dd:last-child {margin-top:24px;overflow:hidden;
}
.Showcase .Item-introduction .dd-Item-name {margin:4px 0;font-size:14px;
}
    .Showcase .Item-introduction .dd-Item-name a {color:black;
    }
.More {background-color:#572a27;font-size:12px;color:white;width:56px;line-height:22px;text-align:center;display:block;float:left;
}
.Showcase .Item-introduction dd b {font-size:20px;float:left;
}
.block_red {display:block!important;
}
.red {background-color:#bd2904!important;
}

/*限时*/
.Time-limit {width:100%;margin-top:5px;
}
    .Time-limit > .Time-limit-nav {overflow:hidden;height:40px;
    }
    .Time-limit>.Time-limit-nav b{width:50%;display:block;float:left;text-align:center;line-height:40px;background-color:#ececec;color:#6b4441;font-size:20px;border-radius:1px;
    }
.Time-limit>.Time-limit-nav .PitchOn {font-size:18px;background-color:white;border-top:2px solid red;color:#555;
}
    .Time-limit .area {width:100%;height:420px;margin-top:5px;
    }
.area-img {float:left;
}
.area ul {overflow:hidden;
}
    .area ul li {
        width:460px;height:205px;margin-left:8px;border:1px solid #808080;overflow:hidden;
    }
        .area ul li:nth-child(3), .area ul li:nth-child(4) {margin-top:5px;
        }
        .area ul li dd {padding-left:230px;
        }
        .area ul li dt {float:left;
        }
            .area ul li dt img {margin-top:-2px;
            }
.area .ItemTitle {font-size:22px;padding:20px 0 5px 230px;
}
.area .ItemPrice {margin-top:34px;font-size:24px;
}
.area .ItemName a {color:black;
}
.custom-area {display:none;
}
.area dl dd:last-child {margin-top:8px;
}
.area .Add-art {margin:0;
}

/*楼一*/
.FloorOne {margin-top:-17px;
}
.Floor {
}
    .Floor > p {line-height:95px;
    }
    .Floor .FloorImg {float:left;width:220px;height:560px;border:1px solid red;padding-left:16px;
    }
        .Floor .FloorImg h1 {line-height:50px;border-bottom:1px solid black;width:auto;margin-top:20px;font-weight:bold;font-size:27px;display: inline-block;
        }
        .Floor .FloorImg ul {overflow:hidden;margin-top:15px;
        }
            .Floor .FloorImg ul li {
                width:60px;height:24px;margin:6px 3px;
            }
                .Floor .FloorImg ul li a {border:1px solid #dcd7d7;width:60px;line-height:24px;text-align:center;display:block;font-size:14px;color:black;
                }
    .Floor .FloorImg img {
        width:200px;height:200px;margin-top:60px;
    }
.floor-banner {overflow:hidden;
}
.floor-banner ul {width:644px;overflow:hidden;margin-left:5px;float:left;
}
.floor-banner ul li {width:200px;height:269px;padding:5px;border:1px solid #dcd7d7;
}
.floor-banner .Introduction,.dd-Item-name .Introduction {font-size:12px;color:#666;
}
.floor-banner .Item-price {font-size:20px;
}
    .floor-banner .price {text-align:right;
    }
.price b {color:red;
}
.Item-price b {color:red;font-size:18px;
}
.ItemPrice b {color:red;font-size:23px;
}
    .floor-banner ul li img {width:200px;height:200px;
    }
.floor-banner > div {overflow:hidden;float:left;
}
.floor-banner-img {float:left;
}
    .floor-banner-img img {width:313px;height:282px;
    }
    .floor-banner-img img:last-child {margin-top:-4px;
    }
.Floor-bottom ul {overflow:hidden;margin-top:-12px;
}
    .Floor-bottom ul li {width:393px;height:190px;margin-left:4px;overflow:hidden;
    }
        .Floor-bottom ul li:first-child {margin-left:0;
        }
        .Floor-bottom ul li dl {background-color:#eae9e9;overflow:hidden;
        }
        .Floor-bottom ul li dl dt img {height:190px;
        }
        .Floor-bottom ul li dl dt {float:left;
        }
        .Floor-bottom ul li dl .dd-Item-name {padding:18px 0 10px 207px;
        }
.Floor-bottom .hot-cakes {padding-left:207px;
}
.Floor-bottom .Item-price {margin:36px 0 8px;padding-left:207px;
}
.Floor-bottom .Add-art {margin-left:16px;
}

.FloorHead {height:75px;
}
    .FloorFive .FloorHead {height:75px;
    }
    .FloorHead > div:first-child {height:40px;margin-top:40px;
    }
    .FloorHead ul {float:right;/*margin-top:12px;*/
    }
        /*.FloorHead ul .FH_current {border-top:2PX solid #572a27;border-top-left-radius:4PX;border-top-right-radius:4PX;  border-left:2PX solid #572a27;border-right:2PX solid #572a27;background-color:white;
        }*/
        .FloorHead ul li {line-height:40px;background-color:#572a27;margin-right:10px;width:100px;text-align:center;color:#eba465;font-size:15px;
        }
            .FloorHead ul li:last-child {
            }
    .FloorHead .FloorBack {background-color:#572a27;line-height:14px;width:100%;height:14px;
    }
    .FloorID b {font-size:26px;color:#572a27;margin-left:10px;float:left;display:block;padding-top:5px;
    }
.FloorID img {margin:14px 0 0 10px;float:left;
}
.FloorID span {margin-left:10px;font-weight:bold;float:left;display:block;padding-top:15px;
}

.FloorBack > .backLeft {color:#fad2a7;font-size:7px;display:inline-block;transform:scale(0.7);margin: -2px 0 0 -80px;
}
.FloorBack > .backRight {float:right;font-size:7px;color:white;display:inline-block;transform:scale(0.7);margin-top: -2px;
}
.FloorImg .tag {margin-top:28px;
}
    .FloorImg .tag .font6 {transform:scale(0.7);display:inline-block;font-size:6px;width:220px;margin-left:-32px;
    }
        .FloorImg .tag .font6 p {width:300px;
        }
/*跳转按钮*/
.jump-btn {position:absolute;left:-50px;top:22%;
}
    .jump-btn ul li {float:none;width:35px;height:35px;border:1px solid #fb9b25;margin-top:5px;text-align:center;
    }
        .jump-btn ul li a {font-size:12px;
        }

/*底部*/

.footer {margin-top:25px;margin-bottom:30px;
}
.footer-link {height:300px;background-color:#f3f3f3;width:100%;padding-top:40px;margin:0 auto;width:1200px;border-right:1px solid #808080;
}
    .footer-link > div {
    }
    .footer-link dl {float:left;width:148px;height:155px;border-right:1px solid #ccc;
    }
        .footer-link dl:first-child {width:235px;
        }
         .footer-link dl:last-child {width:219px;border:none;
        }
        .footer-link dl dt, .footer-link dl dd {padding:0 25px 0 20px;font-size:12px;
        }
        .footer-link dl dt {font:400 16px/24px "microsoft yahei"line-height;line-height:36px;
        }
        .footer-link dl dd {line-height:24px;color:#666;
        }
        .footer-link dl:first-child dt,.footer-link dl:first-child dd {padding-left:30px;
        }
        .footer-link dl:first-child dt {font-size:12px;
        }
        .footer-link dl:first-child dd b {font-size:20px;
        }
        .footer-link dl:first-child dd:last-child {text-align:right;line-height:66px;
        }
        .footer-link dl:last-child dd {text-align:center;
        }

.footer-link2 {width:64%;margin:0px auto;width:1200px;border-right:1px solid #808080;border-bottom:1px solid #808080;
}
    /*.footer-link2 .city-link {height:73px;background-color:black;padding:5px 0 0 10px;
    }
        .footer-link2 .city-link ul {overflow:hidden;line-height:24px;
        }
            .footer-link2 .city-link ul li {padding:2px 3px;
            }
                .footer-link2 .city-link ul li:first-child {
                    padding:0
                }
        .footer-link2 .city-link ul li a {font-size:10px;color:#ccc;
        }*/
    .footer-link2>div {margin:0 auto;width:1055px;font-size:12px;
    }
        .footer-link2 > div img {border-bottom:1px solid #ccc;
        }
        .footer-link2 > div > p:first-child {margin:30px 0 50px;
        }
        .footer-link2 > div > p:nth-child(2),.footer-link2 > div > p:last-child {text-align:center;line-height:20px;
        }
.link-icon {width:12px;height:12px;border:1px solid #fff;display:block;margin:8px 0 0 8px;
}

.footer-link3 {margin:10px auto;
}
    .footer-link3 ul {overflow:hidden;
    }
        .footer-link3 ul li {padding:4px 8px;
        }
    .footer-link3 p {text-align:center;line-height:28px;
    }


.line-right .physical-store {padding:6px 10px;background-color:#dcd7d7;border-radius:6px;color:black;
}

/*置顶按钮*/
.PlacedTop2 {position:fixed;right:20px;bottom:80px;
}
    .PlacedTop2 ul {display:none
    }
    .PlacedTop2 ul li {width:43px;line-height:43px;border:1px solid red;float:none;text-align:center;height:43px;
    }

.FiveContent {height:770px;
}
    .FiveContent .FloorImg ul li {width:90px;margin-top:17px;height:30px;line-height:30px;
    }
        .FiveContent .FloorImg ul li:nth-child(2), .FiveContent .FloorImg ul li:nth-child(4) {margin-left:10px;
        }
        .FiveContent .FloorImg ul li a {width:90px;height:30px;line-height:30px;
        }
.FiveContent .FloorImg ul li a img {width:90px;height:30px;line-height:30px;margin:0;
}
.none {
    display: none;
}

.kuai{margin-top: -22px;}