* {margin:0;padding:0;
}
input:focus,textarea:focus { outline: none !important;  }
.kuai input:focus{-webkit-box-shadow: 0 0 4px 1px #b0b0b0 ;  box-shadow: 0 0 4px 1px white ; border-color: #b0b0b0 }

.Search-Text:focus{-webkit-box-shadow: 0 0 4px 1px #572a27 ;  box-shadow: 0 0 4px 1px white ; border-color: #572a27}
html{-webkit-text-size-adjust:none;font:12px/150% Arial, Verdana, "\5b8b\4f53";}
.font14 {font-size:14px;
}
.color-red {color:red;
}
.mainColor{color: #572a27;}
.mainBack{background-color: #572a27;}
a {text-decoration:none;
}
ul li {float:left;list-style-type:none;
}
.head {width:64%;margin:0px auto;width:1200px;height: 126px;
}
.head-top {width:1200px;height:30px;margin:0px auto;font-size: 12px;
}
.head-top > div {width:98%;margin:0 auto;
}
.head-top a, .head-top label {color:#666;font-family: "Microsoft YaHei";font-size: 1.1em;
}
.head-top a:hover, .head-top label:hover{color: #572a27;}
.head-welcome {font-size: 1.1em;
}
.head-login {margin-left:15px;
}
.mobile_list{border: 1px solid #ccc;width: 92px;height: 92px;text-align: center;background-color: white;border-top: none;margin: -1px 0 0 -1px;position: absolute;z-index: 5;}
.mobile_list2{width: 110px;}
.mobile_list img{margin-top: 5px;}
.block {background-color: white;border-left: 1px solid #ccc;border-right: 1px solid #ccc;}
.FocusOn a i{width: 12px;height: 12px;display: inline-block;background: url("../img/fonticon.png") no-repeat; }
.FocusOn a .top{background-position: -433px -143px;}
.FocusOn a .down{background-position: -456px -142px;}
.PersonalInformation>a:hover{color: #572a27;text-decoration: underline;}
.PersonalInformation{float: left;height: 30px;line-height: 30px;}
.exit{margin-left: 8px;}
.current_position{display: inline-block;padding: 2px 6px;background-color: red;color: white;}
.head-ul {display:block;float:right;height:30px;width:537px;  }
.head-ul li {line-height:30px;height: 30px;position: relative;
}
.head-ul li a{padding: 0 10px;}
.head-ul .FocusOn a{padding: 0;}
.head-ul li:nth-child(2){width: 92px;text-align: center;}
.head-ul li:nth-child(3){width: 110px;text-align: center;}
.head-ul li a:hover{color: #a30f05;text-decoration: underline; }
.icon-top{background-image: url(../img/icon-top.png);width: 12px;height: 12px;display: inline-block;margin-left: 8px;}
.icon-bottom{background-image: url(../img/icon-bottom.png);width: 12px;height: 12px;display: inline-block;margin-left: 8px;}
.inline-block {line-height:30px;
}
.head-logo {width:98%;margin:25px auto 25px;
}
.logo {float:left;width: 120px;margin: 0;
}
.head-city {float:left;padding-top:4.5em;margin-left:1.5em;
}
    .head-city .city {position:relative;
    }
.head-city .cityList {position:absolute;width:400px;height:400px;border:1px solid #572a27;z-index:3;background-color:white;font-size:15px;padding:10px;top:30px;left:53px;display:none;
}
.hotCity {overflow:hidden;
}
    .hotCity li {margin-left:0.5em;line-height:32px;
    }
        .hotCity li:first-child {margin-left:0;
        }
    .hotCity li a {color:black;
    }
    .head-city .thisCity {overflow:hidden;
    }
.thisCity .findHome {float:right;width:100px;line-height:24px;margin:0 10px;font-size:12px;
}
.searchCity input {height:22px;line-height:22px;
}
    .searchCity input[type='button'] {height:26px;width:42px;
    }
.letterList {overflow:hidden;
}
.letterList li {line-height:38px;color:red;  width:15px;text-align:center;
}
.n_none {display:none;
}


.search {float:left;background-color:#572a27;color:white;width:80px;line-height:40px;text-align:center;position: relative;}
.search i{background-image: url("../img/fonticon.png");background-position: -432px -71px;background-repeat: no-repeat;width: 16px;height: 16px;display: inline-block;position: absolute; top:13px;left: 16px;
   }
.search>label{line-height:40px;}
.search-criteria {padding-top:2em;float:right;margin-right:4px;width:64%;font-size: 12px;
}
    .search-criteria > div {overflow:hidden;
    }
.Search-categories {float:left;background-color:#f8f8f8;width:80px;line-height:36px;
}
    .Search-categories label:hover {color:red;cursor:pointer;
    }
    .Search-categories ul li:hover {color:red;cursor:pointer;
    }
    .Search-categories > label {border-top:2px solid #572a27;border-bottom:2px solid #572a27;border-left:2px solid #572a27;width:80px;line-height:36px;text-align:center;display:block;position:relative;
    }
    .Search-categories option {height:40px;
    }
    .Search-categories ul {overflow:hidden;position:absolute;top:117px;width:80px;background-color:#f8f8f8;z-index:5;border:1px solid #ccc;border-top:none;
    }
        .Search-categories ul li {height:40px;width:82px;text-align:center;line-height:40px;
        }
.Search-Text {font-size:14px;width:340px;float:left;border:2px solid #572a27;line-height:36px;padding-left:10px;height:36px;
}
.search label {margin-left:16px;
}
.search img {padding-top:1px;
}
.My-mall,.settlement {background-color:#fcfcfc;display:block;text-decoration:none;width:100px;line-height:36px;float:left;text-align:center;margin-left:10px;color:#808080;border:2px solid #f5f5f5;position: relative;font-size: 12px;
}
.My-mall i,.settlement i{margin-left: 4px;}
.My-mall span,.settlement span{margin-left: 20px;}
.My-mall .icon-my{background-image: url("../img/fonticon.png");background-position: -75px -72px;background-repeat: no-repeat;width: 16px;height: 16px;display: inline-block;position: absolute; top:10px;left: 5px;}
.settlement .icon-cart{background-image: url("../img/fonticon.png");background-position: -579px 0px;background-repeat: no-repeat;width: 16px;height: 16px;display: inline-block;position: absolute; top:10px;left: 5px;}
.settlement {margin-left:6px;width: 114px;
}
.city-name{font-size: 17px;font-family: "Microsoft YaHei";}
.hot-search {line-height:44px;overflow:hidden;margin-top: 4px;
}
.hot-search li {color:#666;margin-left:4px;line-height:30px;font: 12px/1.5 tahoma,arial,"����";
}
    .hot-search li:first-child {margin-left:0;
    }
    .hot-search li a {text-decoration:none;color:#666;
    }
.head-logo .Switch-city {border:1px solid #ccc;font-size:12px;margin-left: 0.5em;width: 56px;height: 18px;line-height: 18px;display: inline-block;text-align: center;
}
.head-logo .Switch-city:hover{cursor: pointer}
.head-logo .Switch-city i{position: absolute;top: 15px;right: 0;background-image: url("../img/fonticon.png");background-repeat: no-repeat;background-position:-388px -143px;width: 6px;height: 6px;display: inline-block;}
.hide_city_group {position:absolute;top:1px;left:55px;display:none;text-align: left;
}

.hideMap {
    width: 400px;
    height: 297px;
    padding: 10px 15px;
    border: solid 1px #ca033c;
    background: #fff;
    position: absolute;
    left: 5px;
    top: 18px;
    box-shadow: 1px 2px 5px #666;
    color: #444;
    z-index:5;
}
.showPanel {
    border-bottom: solid 1px #e9e9e9;
    padding-bottom: 10px;
    height: 20px;
}
.mycity {
    float: left;
    line-height: 20px;
}  
.near {
    float: right;
    height: 20px;
    display: inline-block;
    padding: 0 6px 0 20px;
    text-align: center;
    line-height: 20px;
    background: url("/crsdocroot/content/images/storefront/change_city3.gif") no-repeat;
    background-position: -20px 3px;
    border: 1px solid #f5e6bf;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color: #cf2c2d;
}
.showPanel2 {
    padding-top: 10px;
    height: 33px;
}
.hot_city a {
    display: inline-block;
    padding: 0 3px;
    line-height: 19px;
    margin-right: 2px;
    color: #444;
}
#atg_store_logo a {
	display: inline-block; 
	height: 100%;
}
.search_city_tip {
    position: absolute;
    height: 20px;
    text-align: center;
    color: #ee7001;
    background: #fffde6;
    border: 1px solid #e5935b;
    box-shadow: 2px 2px 2px #999;
    margin-top: 25px;
    line-height: 20px;
    display:none;
}
.search_city_input {
    width: 114px;
    height: 22px;
    padding: 0 5px;
    border: 1px solid #ccc;
    border-right: 0;
    color: #999;
    vertical-align: middle;
    line-height: 22px;
    outline:none;
}
.icity_names {line-height:20px;
}
.icity_names .icity_names_a{color: #666;}
.search_city_submit {
    border: 1px solid #bbb;
    display: inline-block;
    width: 46px;
    height: 24px;
    text-align: center;
    line-height: 22px;
    color: #444;
    vertical-align: middle;
    background: #fff;
    font-size: 12px;
    cursor: pointer;
    background: url("/crsdocroot/content/images/storefront/change_city3.gif") no-repeat;
    background-position: -45px -15px;
    outline:none;
}
.city_words a {
    display: inline-block;
    width: 17px;
    text-align: center;
    color: #d02e2c;
    font-family: Arial;
    font-size: 14px;
}
.scrollBody{
    height: 207px;
    overflow: auto;
}
.icity_names_wrap{
	position:relative;
	padding: 10px 0px 5px 30px;
}
.icity_firstword{
	position:absolute;
	top:10px;
	left:0px;
	display:inline-block;
	width:20px;
	height:20px;
	line-height:20px;
	text-align:center;
	background-color:#999;
	color:white;
	border-radius:10px;
}


#atg_store_content {
    width: 100%;
    margin: 0 auto;
}

/*导航*/
.navigation {width:100%;height:50px;border-bottom: 2px solid #572a27;
}
.nav-ul {width:64%;margin:0 auto;width:1200px;position:relative;
}
.nav-ul>ul {overflow:hidden;
}
.nav-ul>ul>li:nth-child(2) {margin-left:36px;
}
.secondary{display: none;}
    .hovers:hover .secondary{display: block;}
.nav-ul>ul>li>a {color:#ff6a00;padding:16px;display:block;color:black;font-size:15px;font-family:'Microsoft YaHei';font-weight:400;
}
    .nav-ul > ul > li:first-child > a {display:block;width:235px;text-align:center;line-height:52px;padding:0;color:white;background-color:#572a27;height: 52px;
    }
    .nav-ul>ul>li>ul {/*display:none;*/background-color:#fff;z-index:4;position:absolute;top:52px;overflow: hidden;height: auto;height: 485px;
    }
    .nav-ul>ul>li>ul>li {
        float:none;width:235px;
    }
    .nav-ul>ul>li>ul>li>a {display:block;width:100%;line-height:34px;color:black;font-size:15px;font-weight:bold;height: 34px;
    }
.nav-ul>ul>li>ul>li>a>span{float: left;}
        .nav-ul ul li ul li a img {margin:6px 16px -3px 37px;width: 25px;height: 22px;float: left;
        }

.prompt {position:relative;
}
.prompt :hover{color: #c81523;}
.nav-ul>ul>li>ul>li:first-child>a:hover,.nav-ul>ul>li>ul>li:nth-child(3)>a:hover{color: black;}
.three-level {
    position:absolute;top:52px;left:235px;width:366px;background-color:white;padding:0 1.5em 1em;z-index:4;display:none;
}
.pronoLevel3{position:absolute;top:52px;left:587px;width:366px;background-color:white;padding:0 1.5em;z-index:4;display:none;}
.three-level h4 {line-height:36px;margin-top:15px;font-weight:bold!important;color:#bf084a;font-size:14px;
}
    .three-level > span {float:right;line-height:36px;margin-top:-36px;color:#514f4f;font-size:12px;
    }
    .three-level>ul>li {height:32px;margin:3px;float:left;background-color:#f3f3f3;width:116px;overflow:hidden;
    }
        .three-level > ul > li > a {height:32px;background-color:#f3f3f3;width:116px;text-align:center;display:block;
        }
        .three-level ul li a:hover {color:red;
        }
    .three-level > ul {overflow:hidden;background-color:white!important;
    }
        .three-level ul li a {line-height:32px!important;color:black;text-align:center;
        }
    .three-level > div >a > img {margin-top:20px;width: 364px;
    }
.furniture {height:72px;overflow:hidden;
}
    .furniture ul{overflow:hidden;width:166px;float:left;margin-left:71px;
    }
    .furniture ul li{float:left;padding: 1px 8px;
    }
        .furniture ul li a {line-height:22px;font-size:13px;color:#121212;
        }
        .furniture ul li:nth-child(3), .furniture ul li:nth-child(6) {
        }
       /* .furniture ul li:last-child {width:166px;
        }*/
        /*广告*/
.advertising {
    border-bottom:1px solid #ccc;position:relative;min-width:1200px;height:485px;   
}
.advertising-back {overflow:hidden;width:100%;position:relative;height:485px;top:-485px;
}
.experience {width:1200px;height:485px;margin:0 auto;overflow:hidden;position: relative;
}
    .experience > div {width:200px;height:485px;float:right;background-color:white;padding:0 6px;text-align:center;position: absolute;top: 0;right: 0;z-index: 4;
    }
    .experience p:first-child {margin-top:28px;
    }
    .experience p {color:#c86c18;text-align:center;font-size:12px;
    }
    .experience img {width:190px;height:190px;margin-top:12px;
    }
    .experience .thisHome {text-align:center;font-size:24px;color:#626261;margin-top:18px;
    }
    .thisHome b{font-weight: 400;}
    .experience .national {font-weight:bold;color:#4d4d4d;font-size:15px;margin-top:20px;
    }
    .findHome {border:1px solid #ccc;border-radius:6px;display:block;width:140px;text-align:center;line-height:30px;background-color:#572a27;color:white;margin:34px auto 0;
    }



#focus001 {width:100%;height:485px;overflow:hidden;min-width:1200px;z-index: 3;
}
    #focus001 ul {width:300%;height:485px;
    }
    #focus001 ul li {width:100%;height:485px;min-width:1200px;
    }
#focus001 ul li a{display: inline-block;height: 485px;}
        #focus001 img {width:100%;height:485px;min-width:1200px;
        }
.LiBtn {width:100%;height:18px;margin-top: 455px;z-index: 1;
}
    .LiBtn > div {width:1200px;margin:0 auto;overflow:hidden;height:18px;position: relative;
    }
/*.LiBtn div ul {height:14px;width:1200px;margin:0 auto;
}
    .LiBtn div ul {width:70px;margin:0 auto;
    }
   .LiBtn ul li {width:14px;height:14px;background-color:#ccc;border-radius:14px;margin-left:14px;
    }
    .LiBtn ul li:first-child {margin-left:0;
    }*/



        .focus {width:100%; height:585px; overflow:hidden; position:relative;}
.focus ul {height:585px; position:absolute;}
.focus ul li {float:left; width:100%; height:585px; overflow:hidden; position:relative; background:#000;}
.focus ul li div {position:absolute; overflow:hidden;}
.focus .btnBg {position:absolute; width:800px; height:20px; left:0; bottom:0; background:#000; display:none;}
.focus .btn { width:100px; height:14px;margin:0 auto;position: absolute;top: 0;left: 556px;z-index: 4; }
.focus .btn span {display:inline-block; _display:inline; _zoom:1; width:14px; height:14px; line-height:14px; text-align:center; _font-size:0; margin-left:5px; cursor:pointer; background:#fff;border-radius:10px;}
.focus .btn span.on {background:#fff;}
.focus .preNext {width:30px; height:40px; position:absolute; top:90px; cursor:pointer;}
.focus .pre {left:0;position:absolute;left:0px;top:220px;z-index:3;background-image: url("../img/fonticon.png");background-position: -294px -73px;background-repeat: no-repeat;position: absolute;}
.focus .next {right:0; position:absolute;top:220px;z-index:3;background-image: url("../img/fonticon.png");background-position: -156px -73px;background-repeat: no-repeat;position: absolute;}
/*内容部分*/
.browse {width:64%;margin:0px auto;width:1200px;
}
.borderHover li {border:1px solid #ebebeb;
}
   /* .borderHover li dl:hover {border:1px solid #572a27;
    }*/
    .borderHover img{border: 1px solid white;}
.hot-small {overflow:hidden;margin-top:40px;
}
    .hot-small ul {overflow:hidden;margin-left: 2px;
    }
        .hot-small ul li {margin-left:13px;
        }
            .hot-small ul li:first-child {margin:0;
            }
.hot-small ul li a {
    display:block;
    width: 229px;text-align: center;line-height: 35px;height: 35px;
    background-color:#572a27;
    /*margin-left:15px;*/
    color:white;
    font-size:16px;
    font-family: "Microsoft YaHei";}
        .hot-small ul li a {text-justify:auto;
        }
    .hot-small ul li:first-child a {margin-left:0;
    }

    /*展示区*/
.Showcase {height:332px;position:relative;padding-left: 2px;
}
    .Showcase ul {overflow:hidden;margin-top:15px;height:332px;display:none;
    }
.Showcase>ul>li {
    width:227px;margin-left:13px;height:315px;
}
.Showcase>ul>li:hover{border: 1px solid #572a27;}
    .Showcase > ul > li > dl {padding:5px;height:303px;overflow: hidden;border: 1px solid white;
    }

.Showcase > ul > li > dl img{width: 214px;height: 214px;border: 1px solid white;}
    .Showcase>ul>li:first-child {margin:0;
    }
.Add-art {border:1px solid #572a27;color:white;margin-left:13px;width:56px;line-height:16px;text-align:center;display:block;float:left;height:20px;
}
    .Add-art img {margin-top:2px;
    }
.Showcase .Item-introduction dd:last-child {margin-top:10px;overflow:hidden;
}
.Showcase .Item-introduction .dd-Item-name {margin:4px 0;font-size:14px;height: 35px;overflow: hidden;
}
    .Showcase .Item-introduction .dd-Item-name a {color:#666;font-size: 12px;
    }
.More {background-color:#572a27;font-size:12px;color:white;width:56px;line-height:22px;text-align:center;display:block;float:right;margin-right: 10px;
}
.Showcase .Item-introduction dd b {float:left;font-size: 18px;font-weight: 400;
}
.Showcase .Item-introduction dd b span{font-size: 14px;}
.block_red {display:block!important;
}
.red {background-color:#bd2904!important;
}

/*限时*/
.Time-limit {width:100%;margin-top:5px;border-top:1px solid #572a27;
}
    .Time-limit > .Time-limit-nav {overflow:hidden;height:40px;
    }
    .Time-limit>.Time-limit-nav b{width:50%;display:block;float:left;text-align:center;line-height:40px;background-color:#ececec;color:#6b4441;font-size:20px;border-radius:1px;font-family: "Microsoft YaHei";font-weight: 400;
    }
.Time-limit>.Time-limit-nav .PitchOn {font-size:18px;background-color:white;color:#555;
}
    .Time-limit .area {width:100%;height:420px;margin-top:5px;
    }
.area-img {float:left;
}
.area ul {overflow:hidden;
}
    .area ul li {
        width:460px;height:205px;margin-left:8px;border:1px solid #ebebeb;overflow:hidden;
    }
.area ul li:hover{border: 1px solid #572a27;}
        .area ul li:nth-child(3), .area ul li:nth-child(4) {margin-top:5px;
        }
.area ul li dl{height: 203px; border: 1px solid white;}
        .area ul li dd {padding-left:260px;margin-top: 5px;
        }
        .area ul li dt {float:left;
        }
            .area ul li dt img {width: 240px;height: 200px;
            }
.area .ItemTitle {font-size:20px;padding:20px 0 5px 230px;font-family: "Microsoft YaHei";color: #333;
}
.ItemTitle b{font-weight: 400;}
.area .ItemPrice {margin-top:34px;font-size:24px;
}
.area .ItemName a {color:#666;height: 36px;overflow: hidden;display: inline-block;font-size: 12px;
}
.custom-area {display:none;
}
.area dl dd:last-child {margin-top:40px;
}
.area .Add-art {margin:0;
}

/*楼一*/
.FloorOne {margin-top:-17px;
}
.floorIcon{background-image: url("../img/fonticon.png");background-repeat: no-repeat;width: 43px;height: 43px;display: inline-block;float: left}
.FloorOne .floorIcon{background-position: -506px -73px;}
.FloorTwo .floorIcon{background-position: 0px -148px}
.FloorThree .floorIcon{background-position: -72px -143px;}
.FloorFour .floorIcon{background-position: -157px -146px}
.FloorFive .floorIcon{background-position: -216px -146px}
.Floor {min-height: 890px;height: auto;overflow: hidden;width: 100%;
}
    .Floor > p {line-height:95px;
    }
    .Floor .FloorImg {float:left;width:220px;height:563px;border:1px solid #572a27;padding-left:16px;/*background: url('../img/FloorImg.gif') repeat;*/
    }
        .Floor .FloorImg h1 {line-height:50px;border-bottom:1px solid black;width:auto;margin-top:20px;font-weight:400!important;font-size:27px;display: inline-block;font-family: "Microsoft YaHei";
        }
        .Floor .FloorImg ul {overflow:hidden;margin-top:15px;height: 108px;
        }
            .Floor .FloorImg ul li {
                width:60px;height:24px;margin:6px 3px;
            }
                .Floor .FloorImg ul li a {border:1px solid #dcd7d7;width:60px;line-height:24px;text-align:center;display:block;font-size:14px;color:black;
                }
    .Floor .FloorImg img {
        width:192px;height:200px;margin-top:15px;
    }
.floor-banner {overflow:hidden;
}
.floor-banner ul {width:644px;overflow:hidden;margin-left:5px;float:left;
}
.floor-banner ul li {width:208px;height:278px;border:1px solid #ebebeb;margin-left: 5px;
}
.floor-banner ul li:hover{border:1px solid #572a27}
.floor-banner ul li:first-child,.floor-banner ul li:nth-child(4){margin-left: 0;}
.floor-banner ul li:nth-child(4),.floor-banner ul li:nth-child(5),.floor-banner ul li:nth-child(6){margin-top: 5px;}
.floor-banner ul li dl{padding: 5px;border: 1px solid white;height: 266px; }
.floor-banner .Introduction,.dd-Item-name .Introduction {font-size:12px;color:#666;height: 36px;overflow: hidden;display: inline-block;
}
.floor-banner .Item-price {font-size:18px;font-weight: 400;
}
.floor-banner .Item-price span{font-size: 14px;}
    .floor-banner .price {text-align:right;margin: 9px 6px 0 0;
    }
.price b {color:red;
}
.Item-price b {color:red;font-size:18px;font-weight: 400;
}
.Item-price b span{font-size: 14px;}
.ItemPrice b {color:red;font-size:18px;font-weight: 400;
}
.ItemPrice b span{font-size: 14px;}
    .floor-banner ul li img {width:193px;height:193px;
    }
.floor-banner > div {overflow:hidden;float:left;
}
.floor-banner-img {float:left;width: 311px;
}
    .floor-banner-img img {width:311px;height:280px;  }
.Floor-bottom ul {overflow:hidden;margin-top:-17px;
}
.Floor-bottom ul li {width:395px;height:190px;margin-left:4px;overflow:hidden;  }
.Floor-bottom ul li:hover{border: 1px solid #572a27;}
.Floor-bottom ul li:first-child {margin-left:0;  }
.Floor-bottom ul li dl {background-color:#eae9e9;overflow:hidden; border: 1px solid white;height: 188px; }
        .Floor-bottom ul li dl dt img {height:186px;width: 186px;
        }
        .Floor-bottom ul li dl dt {float:left;
        }
        .Floor-bottom ul li dl .dd-Item-name {padding:18px 0 10px 200px;
        }
.Floor-bottom .hot-cakes {padding-left:200px;
}
.Floor-bottom .Item-price {margin:36px 0 8px;padding-left:200px;
}
.Floor-bottom .Add-art {margin-left:16px;
}

.FloorHead {margin-bottom: 20px;
}
.FloorFive .fiveNav{background-color: #c86c18;color: white;}
    .FloorHead > div:first-child {height:45px;margin-top:40px;
    }
    .FloorHead ul {float:right;margin-top:5px;
    }
        /*.FloorHead ul .FH_current {border-top:2PX solid #572a27;border-top-left-radius:4PX;border-top-right-radius:4PX;  border-left:2PX solid #572a27;border-right:2PX solid #572a27;background-color:white;
        }*/
        .FloorHead ul li {line-height:40px;background-color:#572a27;margin-right:18px;width:100px;text-align:center;color:white;font-size:15px;font-family: "Microsoft YaHei";font-weight: 400;
        }
.FloorHead ul li:hover{cursor:pointer;}
            .FloorHead ul li:last-child {
            }
    .FloorHead .FloorBack {background-color:#572a27;line-height:22px;width:100%;height:22px;
    }
    .FloorID b {font-size:30px;color:#572a27;margin-left:10px;float:left;display:block;padding-top:5px;font-weight: 100;margin-top: 7px;
    }
.FloorID img {margin:14px 0 0 10px;float:left;
}
.FloorID span {margin-left:6px;float:left;display:block;padding-top:15px;font-size: 20px;font-family: "Microsoft YaHei";font-weight: 400;color: #333;
}

.FloorBack > .backLeft {color:white;font-size:12px;display:inline-block;margin: 0 0 0 9px;
}
.FloorBack > .backRight {float:right;font-size:12px;display:inline-block;margin: 0 9px 0 0;
}
.FloorBack > .backRight a{color: white;}
.FloorImg .tag {margin-top:28px;
}
    .FloorImg .tag .font6 {transform:scale(0.7);display:inline-block;font-size:6px;width:220px;margin-left:-32px;
    }
        .FloorImg .tag .font6 p {width:300px;
        }
.brand{margin-top: 4px!important;}
        .brand li{width: 80px;height: 24px;border: 1px solid #ccc;margin: 5px 9px;}
/*跳转按钮*/
.jump-btn {position:absolute;left:-50px;top:22%;
}
    .jump-btn ul li {float:none;width:35px;height:35px;border:1px solid #fb9b25;margin-top:5px;text-align:center;
    }
        .jump-btn ul li a {font-size:12px;
        }

/*底部*/

.footer {margin-top:25px;margin-bottom:30px;
}
.footer-link {height:200px;background-color:#f3f3f3;width:100%;padding-top:30px;margin:0 auto;width:1200px;
}
    .footer-link > div {
    }
    .footer-link dl {float:left;width:148px;height:155px;border-right:1px solid #ccc;
    }
        .footer-link dl:first-child {width:235px;
        }
         .footer-link dl:last-child {width:219px;border:none;
        }
        .footer-link dl dt, .footer-link dl dd {padding:0 25px 0 20px;font-size:12px;
        }
        .footer-link dl dt {line-height:36px;color: #60575e;font-size: 14px;
        }
        .footer-link dl dd {line-height:24px;color:#666;
        }
.footer-link dl dd a{color: #666;}
.footer-link dl:last-child{width: 215px;text-align: center;}
        .footer-link dl:first-child dt,.footer-link dl:first-child dd {padding-left:30px;
        }
        .footer-link dl:first-child dt {font-size:12px;
        }
        .footer-link dl:first-child dd b {font-size:20px;
        }
        .footer-link dl:first-child dd:last-child {text-align:right;line-height:66px;
        }
        .footer-link dl:last-child dd {text-align:center;
        }

.footer-link2 {width:64%;margin:0px auto;width:1200px;
}
    /*.footer-link2 .city-link {height:73px;background-color:black;padding:5px 0 0 10px;
    }
        .footer-link2 .city-link ul {overflow:hidden;line-height:24px;
        }
            .footer-link2 .city-link ul li {padding:2px 3px;
            }
                .footer-link2 .city-link ul li:first-child {
                    padding:0
                }
        .footer-link2 .city-link ul li a {font-size:10px;color:#ccc;
        }*/
    .footer-link2>div {margin:0 auto;width:1055px;font-size:12px;color: #666;
    }
        .footer-link2 > div img {border-bottom:1px solid #ccc;
        }
        .footer-link2 > div > p:first-child {margin:30px 0 50px;
        }
        .footer-link2 > div > p:nth-child(2),.footer-link2 > div > p:last-child {text-align:center;line-height:20px;
        }
        .footer-link2 a{color: #666;}
.link-icon {width:12px;height:12px;border:1px solid #fff;display:block;margin:8px 0 0 8px;
}

.footer-link3 {margin:10px auto;
}
    .footer-link3 ul {overflow:hidden;
    }
        .footer-link3 ul li {padding:4px 8px;
        }
    .footer-link3 p {text-align:center;line-height:28px;
    }


.line-right .physical-store {padding:6px 10px;background-color:#dcd7d7;border-radius:6px;color:black;
}
.entityShop{border: 1px solid #666;border-radius: 4px;padding: 4px 16px 4px 30px;position: relative;}
.entityShop i{background-image: url("../img/fonticon.png");background-repeat: no-repeat;background-position:-364px -141px;width: 16px;height: 16px;display: inline-block;position: absolute;top: 2px;left: 15px; }

/*置顶按钮*/
.PlacedTop2 {position:fixed;right:20px;bottom:80px;
}
    .PlacedTop2 ul {display:none
    }
    .PlacedTop2 ul li {width:36px;line-height:36px;float:none;text-align:center;height:36px;
    }
    .PlacedTop2 li a{display:inline-block;width:36px;line-height:36px;height:36px;background-image: url("../img/fonticon.png");background-repeat: no-repeat;background-position:-293px -145px;overflow: hidden;}

.FiveContent {height:770px;
}
    .FiveContent .FloorImg ul li {width:90px;margin-top:17px;height:30px;line-height:30px;
    }
        .FiveContent .FloorImg ul li:nth-child(2), .FiveContent .FloorImg ul li:nth-child(4) {margin-left:10px;
        }
        .FiveContent .FloorImg ul li a {width:90px;height:30px;line-height:30px;
        }
.FiveContent .FloorImg ul li a img {width:90px;height:30px;line-height:30px;margin:0;
}
.none {
    display: none;
}

.kuai{margin-top: -10px;}

.hotBack{background-color: #c86c18!important;}