<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.dyninfo.o2o.dao.GoodsSortModelMapper" >
  <resultMap id="BaseResultMap" type="cn.com.dyninfo.o2o.model.GoodsSortModel" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="PS" property="ps" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="IMAGESRC" property="imagesrc" jdbcType="VARCHAR" />
    <result column="PARENT_ID" property="parentId" jdbcType="INTEGER" />
    <result column="TYPE_ID" property="typeId" jdbcType="INTEGER" />
    <result column="FLAG" property="flag" jdbcType="VARCHAR" />
    <result column="MARCHANTS_ID" property="marchantsId" jdbcType="INTEGER" />
    <result column="T_INDEX" property="tIndex" jdbcType="INTEGER" />
    <result column="REVEAL" property="reveal" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, NAME, PS, STATUS, IMAGESRC, PARENT_ID, TYPE_ID, FLAG, MARCHANTS_ID, T_INDEX, 
    REVEAL
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.com.dyninfo.o2o.model.GoodsSortModelCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_goodssort
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart >=0" >
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_goodssort
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_goodssort
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.com.dyninfo.o2o.model.GoodsSortModelCriteria" >
    delete from t_goodssort
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.com.dyninfo.o2o.model.GoodsSortModel" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_goodssort (NAME, PS, STATUS, 
      IMAGESRC, PARENT_ID, TYPE_ID, 
      FLAG, MARCHANTS_ID, T_INDEX, 
      REVEAL)
    values (#{name,jdbcType=VARCHAR}, #{ps,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{imagesrc,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, #{typeId,jdbcType=INTEGER}, 
      #{flag,jdbcType=VARCHAR}, #{marchantsId,jdbcType=INTEGER}, #{tIndex,jdbcType=INTEGER}, 
      #{reveal,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.dyninfo.o2o.model.GoodsSortModel" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_goodssort
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        NAME,
      </if>
      <if test="ps != null" >
        PS,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="imagesrc != null" >
        IMAGESRC,
      </if>
      <if test="parentId != null" >
        PARENT_ID,
      </if>
      <if test="typeId != null" >
        TYPE_ID,
      </if>
      <if test="flag != null" >
        FLAG,
      </if>
      <if test="marchantsId != null" >
        MARCHANTS_ID,
      </if>
      <if test="tIndex != null" >
        T_INDEX,
      </if>
      <if test="reveal != null" >
        REVEAL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="ps != null" >
        #{ps,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="imagesrc != null" >
        #{imagesrc,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=VARCHAR},
      </if>
      <if test="marchantsId != null" >
        #{marchantsId,jdbcType=INTEGER},
      </if>
      <if test="tIndex != null" >
        #{tIndex,jdbcType=INTEGER},
      </if>
      <if test="reveal != null" >
        #{reveal,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.com.dyninfo.o2o.model.GoodsSortModelCriteria" resultType="java.lang.Integer" >
    select count(*) from t_goodssort
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_goodssort
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.ps != null" >
        PS = #{record.ps,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.imagesrc != null" >
        IMAGESRC = #{record.imagesrc,jdbcType=VARCHAR},
      </if>
      <if test="record.parentId != null" >
        PARENT_ID = #{record.parentId,jdbcType=INTEGER},
      </if>
      <if test="record.typeId != null" >
        TYPE_ID = #{record.typeId,jdbcType=INTEGER},
      </if>
      <if test="record.flag != null" >
        FLAG = #{record.flag,jdbcType=VARCHAR},
      </if>
      <if test="record.marchantsId != null" >
        MARCHANTS_ID = #{record.marchantsId,jdbcType=INTEGER},
      </if>
      <if test="record.tIndex != null" >
        T_INDEX = #{record.tIndex,jdbcType=INTEGER},
      </if>
      <if test="record.reveal != null" >
        REVEAL = #{record.reveal,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_goodssort
    set ID = #{record.id,jdbcType=INTEGER},
      NAME = #{record.name,jdbcType=VARCHAR},
      PS = #{record.ps,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      IMAGESRC = #{record.imagesrc,jdbcType=VARCHAR},
      PARENT_ID = #{record.parentId,jdbcType=INTEGER},
      TYPE_ID = #{record.typeId,jdbcType=INTEGER},
      FLAG = #{record.flag,jdbcType=VARCHAR},
      MARCHANTS_ID = #{record.marchantsId,jdbcType=INTEGER},
      T_INDEX = #{record.tIndex,jdbcType=INTEGER},
      REVEAL = #{record.reveal,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.dyninfo.o2o.model.GoodsSortModel" >
    update t_goodssort
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="ps != null" >
        PS = #{ps,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="imagesrc != null" >
        IMAGESRC = #{imagesrc,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        PARENT_ID = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="typeId != null" >
        TYPE_ID = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="flag != null" >
        FLAG = #{flag,jdbcType=VARCHAR},
      </if>
      <if test="marchantsId != null" >
        MARCHANTS_ID = #{marchantsId,jdbcType=INTEGER},
      </if>
      <if test="tIndex != null" >
        T_INDEX = #{tIndex,jdbcType=INTEGER},
      </if>
      <if test="reveal != null" >
        REVEAL = #{reveal,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.dyninfo.o2o.model.GoodsSortModel" >
    update t_goodssort
    set NAME = #{name,jdbcType=VARCHAR},
      PS = #{ps,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      IMAGESRC = #{imagesrc,jdbcType=VARCHAR},
      PARENT_ID = #{parentId,jdbcType=INTEGER},
      TYPE_ID = #{typeId,jdbcType=INTEGER},
      FLAG = #{flag,jdbcType=VARCHAR},
      MARCHANTS_ID = #{marchantsId,jdbcType=INTEGER},
      T_INDEX = #{tIndex,jdbcType=INTEGER},
      REVEAL = #{reveal,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>