<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2009-2016 SHENZHEN Eternal Dynasty Technology Co.,Ltd.
  ~ All rights reserved.
  ~
  ~ This file contains valuable properties of  SHENZHEN Eternal Dynasty
  ~ Technology Co.,Ltd.,  embodying  substantial  creative efforts  and
  ~ confidential information, ideas and expressions.    No part of this
  ~ file may be reproduced or distributed in any form or by  any  means,
  ~ or stored in a data base or a retrieval system,  without  the prior
  ~ written permission  of  SHENZHEN Eternal Dynasty Technology Co.,Ltd.
  ~
  -->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	
	<display-name>o2o</display-name>
	
	<distributable />
	
	<context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/classes/applicationContext*.xml</param-value>
    </context-param>
    
	<listener>
	    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
	    <listener-class>cn.com.dyninfo.o2o.furniture.web.framework.listener.ContextListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	
	<!-- 全局 -->
	<filter>
		<filter-name>hibernatefilter</filter-name>
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>hibernatefilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	 <filter>
    <filter-name>Compress</filter-name>
    	<filter-class>cn.com.dyninfo.o2o.furniture.web.framework.gzip.GZIPFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>Compress</filter-name>
	    <url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
	    <filter-name>Compress</filter-name>
	    <url-pattern>*.do</url-pattern>
	</filter-mapping> 
	<filter-mapping>
	    <filter-name>Compress</filter-name>
	    <url-pattern>*.html</url-pattern>
	</filter-mapping>
	    <filter-mapping>
	    <filter-name>Compress</filter-name>
	    <url-pattern>*.js</url-pattern>
	</filter-mapping>
	<filter-mapping>
	    <filter-name>Compress</filter-name>
	    <url-pattern>*.css</url-pattern>
	</filter-mapping>
	<servlet>
        <servlet-name>html-page</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/mvc-servlet-context.xml</param-value>
		</init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>html-page</servlet-name>
        <url-pattern>/html/*</url-pattern>
    </servlet-mapping>
	<servlet>
		<servlet-name>freemarker-page</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/freemarker-servlet-context.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>freemarker-page</servlet-name>
		<url-pattern>index.html</url-pattern>
	</servlet-mapping>

    <filter>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<servlet-name>html-page</servlet-name>
	</filter-mapping>
	
	<!-- 条形码 -->
	<servlet>
		<servlet-name>barbecue</servlet-name>
		<servlet-class>net.sourceforge.barbecue.BarcodeServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>barbecue</servlet-name>
		<url-pattern>/CreateBarCode</url-pattern>
	</servlet-mapping>
	
	<!-- 后台 -->
	<filter>
		<filter-name>validCodeFilter</filter-name>
		<filter-class>
			cn.com.dyninfo.o2o.furniture.sys.filter.ValidCodeFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>validCodeFilter</filter-name>
		<url-pattern>/j_spring_security_check</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>sessionFilter</filter-name>
		<filter-class>
			cn.com.dyninfo.o2o.furniture.sys.filter.SessionFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sessionFilter</filter-name>
		<url-pattern>/html/manage/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>functionFilter</filter-name>
		<filter-class>cn.com.dyninfo.o2o.furniture.sys.filter.FunctionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>functionFilter</filter-name>
		<url-pattern>/html/manage/*</url-pattern>
	</filter-mapping>
	
	<filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- 全局 -->
	<filter>
		<filter-name>pageFilter</filter-name>
		<filter-class>cn.com.dyninfo.o2o.furniture.web.framework.filter.PageFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>pageFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
    <filter-mapping>
		<filter-name>pageFilter</filter-name>
		<url-pattern>*.xml</url-pattern>
	</filter-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>
	<!---->
	<!--<error-page>-->
		<!--<error-code>500</error-code>-->
		<!--<location>/500.jsp</location>-->
	<!--</error-page>-->
	
</web-app>
