<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wckj.gfsj" >

    <application
        android:name=".Application.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".Activity.LogoActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 主页 -->
        <activity
        android:name="com.wckj.gfsj.Activity.MainActivity"
        android:launchMode="singleTask"
        android:screenOrientation="landscape"
       />
        <activity
            android:name="com.wckj.gfsj.Activity.CommodityLevelTwoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"

            />
        <!-- 更多 -->
        <activity
            android:name="com.wckj.gfsj.Activity.MainMoreActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            />
        <activity android:name=".Activity.SetPasswordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            />

        <activity android:name=".Activity.UserCenterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"/>

        <activity android:name=".Activity.CommodityLevelThreeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"/>

    </application>


</manifest>